<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cobot_collision">

  <!-- Parameters you can tweak at instantiation -->
  <xacro:macro name="cobot_collision" params="
      mount_link:=base_link
      base_xyz:='0 0 -0.387'
      base_radius:=0.3
      base_height:=0.162
      tower_size:='0.125 0.125 0.306'
      tower_xyz:='0 0 -0.154'">

    <!-- BOX: chassis shell (collision only) -->
    <link name="cobot_base">
      <collision>
        <origin xyz="${base_xyz}" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="${base_radius}" length="${base_height}"/>
          <!-- <box size="${box_size}"/> -->
        </geometry>
      </collision>
    </link>
    <joint name="cobot_base_fixed" type="fixed">
      <parent link="${mount_link}"/>
      <child  link="cobot_base"/>
    </joint>

    <link name="cobot_tower">
      <collision>
        <origin xyz="${tower_xyz}" rpy="0 0 0"/>
        <geometry>
          <box size="${tower_size}"/>
        </geometry>
      </collision>
    </link>
    <joint name="cobot_tower_fixed" type="fixed">
      <parent link="cobot_base"/>
      <child  link="cobot_tower"/>
    </joint>

  </xacro:macro>
</robot>
